<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/base :: layout(${pageTitle}, ~{::content})}">

<head>
<title>Adolescente</title>
<!-- Este será substituído -->

</head>

<body>
	<div th:fragment="content">


		<div class="container-fluid p-2">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb card"
						style="margin-top: -25px; font-size: 0.8rem;">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/home}"> <i
									class="fa-duotone fa-solid fa-house fs-7"></i> Home
							</a></li>
							<li class="breadcrumb-item"><a th:href="@{/adolescente}">
									<i class="fa-solid fa-child"></i> Adolescente
							</a></li>
							<li class="breadcrumb-item"><span class="text-muted"><i
									class="fa-duotone fa-user-plus"></i> Novo Registro </span></li>


						</ol>
					</nav>
				</div>
				<div class="col-12">
					<!-- Mensagens de erro e de ok -->
					<div th:if="${msgOk}"
						class="alert alert-success alert-dismissible fade show"
						role="alert" id="successAlert">
						<i class="fa-duotone fa-solid fa-thumbs-up me-2"></i> <span
							th:text="${msgOk}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>

					<!-- Mensagem de Erro -->
					<div th:if="${msgErro}"
						class="alert alert-danger alert-dismissible fade show"
						role="alert" id="errorAlert">
						<i class="fa-duotone fa-solid fa-triangle-exclamation me-2"></i> <span
							th:text="${msgErro}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>
				</div>
				<div class="col-12">

					<form th:action="@{/adolescente/salvar}" th:object="${adolescente}"
						method="post" enctype="multipart/form-data">

						<div class="card">

							<div
								class="card-header card-header d-flex justify-content-between align-items-center fs-4 pr-custom-text  fw-semibold text-uppercase">
								<h5 class="mb-0 text-secondary">Novo Registro</h5>
								<a th:href="@{/adolescente}"
									class="btn btn-outline-danger btn-sm"> <i
									class="fa-duotone fa-solid fa-ban"></i> Cancelar
								</a>
							</div>



							<div class="card-body">
								<div class="row">
									<div class="col-12">


										<div class="accordion" id="accordionAdolescente">

											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button" type="button"
														data-bs-toggle="collapse"
														data-bs-target="#collapseBasicos" aria-expanded="true"
														aria-controls="collapseBasicos">Dados Básicos</button>
												</h2>
												<div id="collapseBasicos"
													class="accordion-collapse collapse show"
													data-bs-parent="#accordionAdolescente">
													<div class="accordion-body">
														<!-- Dados Básicos -->
														<div class="row">

															<div class="col-md-6">
																<label class="form-label fw-semibold text-secondary">Nome *</label> <input
																	type="text" th:field="*{nome}" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''">
																	<div class="invalid-feedback"
													th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
											</div>
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">Apelido</label> <input
																	type="text" th:field="*{apelido}" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''">
																	<div class="invalid-feedback"
													th:if="${#fields.hasErrors('apelido')}" th:errors="*{apelido}"></div>
															</div>

															<div class="col-md-3">

																<label class="form-label fw-semibold text-secondary">
																	Nascimento </label>

																<div class="d-flex align-items-center gap-2">

																	<div class="input-group input-group-sm shadow-sm">
																		<span class="input-group-text bg-white"> <i
																			class="fa-duotone fa-calendar-days text-secondary"></i>
																		</span> <input type="date" th:field="*{dataNascimento}"
																			class="form-control" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''">
																			<div class="invalid-feedback"
													th:if="${#fields.hasErrors('apelido')}" th:errors="*{apelido}"></div>
																	</div>

																	<!-- CHECKBOX CORRETO -->
																	<div class="form-check ms-2">
																		<input class="form-check-input" type="checkbox"
																			th:field="*{dataEstimada}" id="dataEstimadaCheck">

																		<label
																			class="form-check-label small text-body-secondary"
																			for="dataEstimadaCheck" data-bs-toggle="tooltip"
																			data-bs-placement="top" title="DATA ESTIMADA">
																			Est. </label>
																	</div>

																</div>

															</div>

														</div>
														<!--  fim primeira row -->
														<div class="row mt-3">

															<!-- CIDADE -->
															<div class="col-md-4">
																<label class="form-label fw-semibold text-secondary">
																	Cidade de Nascimento * </label> <input type="text"
																	th:field="*{cidadeNascimento}"
																	class="form-control">
															</div>

															<!-- UF -->
															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	UF * </label> <select th:field="*{ufNascimento}"
																	class="form-select">

																	<option value="">Selecione</option>

																	<option th:each="estado : ${estados}"
																		th:value="${estado.codigo}"
																		th:text="${estado.codigo + ' - ' + estado.nome}">
																	</option>

																</select>
															</div>
															<!-- GENERO -->
															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Gênero * </label> <select th:field="*{genero}"
																	class="form-select form-select">
																	<option value="">Selecione</option>
																	<option th:each="g : ${generos}" th:value="${g}"
																		th:text="${g.descricao}"></option>
																</select>
															</div>

															<!-- RAÇA/COR -->
															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	Raça/Cor * </label> <select th:field="*{racaCor}"
																	class="form-select form-select">
																	<option value="">Selecione</option>
																	<option th:each="r : ${racas}" th:value="${r}"
																		th:text="${r.descricao}"></option>
																</select>
															</div>

														</div>
														<!--  fim da segunda row -->
														<div class="row mt-3">

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Pai </label> <input type="text" th:field="*{pai}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Mãe </label> <input type="text" th:field="*{mae}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Responsável </label> <input type="text"
																	th:field="*{responsavel}" class="form-control"
																	maxlength="255">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Parentesco do Responsável </label> <input type="text"
																	th:field="*{parentescoResponsavel}"
																	class="form-control" maxlength="255">
															</div>

														</div>

													</div>
												</div>
											</div>


											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse"
														data-bs-target="#collapseEndereco" aria-expanded="false"
														aria-controls="collapseTwo">Endereço</button>
												</h2>
												<div id="collapseEndereco"
													class="accordion-collapse collapse"
													data-bs-parent="#accordionAdolescente">
													<div class="accordion-body">
														<div class="row">

															<div class="col-md-5">
																<label class="form-label fw-semibold text-secondary">
																	Logradouro </label> <input type="text" th:field="*{logradouro}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	Número </label> <input type="text" th:field="*{numero}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Bairro </label> <input type="text" th:field="*{bairro}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	CEP </label> <input type="text" th:field="*{cep}"
																	class="form-control mask-cep" maxlength="10">
															</div>

														</div>

														<div class="row mt-3">

															<div class="col-md-4">
																<label class="form-label fw-semibold text-secondary">
																	Cidade </label> <input type="text" th:field="*{cidade}"
																	class="form-control" maxlength="255">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	UF </label> <select th:field="*{ufEndereco}"
																	class="form-select">

																	<option value="">Selecione</option>

																	<option th:each="estado : ${estados}"
																		th:value="${estado.codigo}"
																		th:text="${estado.codigo + ' - ' + estado.nome}">
																	</option>

																</select>
															</div>

															<div class="col-md-5">
																<label class="form-label fw-semibold text-secondary">
																	Referência </label> <input type="text"
																	th:field="*{referenciaEndereco}" class="form-control"
																	maxlength="355">
															</div>

														</div>
														<div class="row mt-4">

															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	Telefone 1 </label> <input type="text" th:field="*{telefone1}"
																	class="form-control mask-phone" maxlength="13">
															</div>

															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	Telefone 2 </label> <input type="text" th:field="*{telefone2}"
																	class="form-control mask-phone" maxlength="13">
															</div>

															<div class="col-md-2">
																<label class="form-label fw-semibold text-secondary">
																	Telefone 3 </label> <input type="text" th:field="*{telefone3}"
																	class="form-control mask-phone" maxlength="13">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Telefone Recado </label> <input type="text"
																	th:field="*{telefoneRecado}" class="form-control mask-phone"
																	maxlength="13">
															</div>

															<div class="col-md-3">
																<label class="form-label fw-semibold text-secondary">
																	Nome Contato Recado </label> <input type="text"
																	th:field="*{nomeContatoRecado}" class="form-control"
																	maxlength="255">
															</div>

														</div>





													</div>
												</div>
											</div>
											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
														Accordion Item #3</button>
												</h2>
												<div id="collapseThree" class="accordion-collapse collapse"
													data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<strong>This is the third item’s accordion body.</strong>
														It is hidden by default, until the collapse plugin adds
														the appropriate classes that we use to style each element.
														These classes control the overall appearance, as well as
														the showing and hiding via CSS transitions. You can modify
														any of this with custom CSS or overriding our default
														variables. It’s also worth noting that just about any HTML
														can go within the
														<code>.accordion-body</code>
														, though the transition does limit overflow.
													</div>
												</div>
											</div>
										</div>
									</div>


									<!-- Coluna do form -->
									<div class="col-12">
										<!-- primeira alinda dos input -->
										<div class="row g-2">







											<div class="col-md-4">
												<label class="form-label">Cidade</label> <input type="text"
													th:field="*{cidade}" class="form-control">
											</div>

											<div class="col-md-2">
												<label class="form-label">UF</label> <input type="text"
													th:field="*{ufEndereco}" class="form-control">
											</div>

											<div class="col-md-6">
												<label class="form-label">Nome da Mãe</label> <input
													type="text" th:field="*{mae}" class="form-control">
											</div>

										</div>

										<div class="row g-2">
											<div class="col-md-4">

												<div
													class="d-flex justify-content-between align-items-center">
													<h6 class="fw-bold text-primary">Fotos do Adolescente</h6>
													<button type="button"
														class="btn btn-sm btn-outline-primary" onclick="addFoto()">
														+ Adicionar</button>
												</div>

												<div id="fotos"></div>

											</div>
											<div class="col-md-4">
												<!-- ================= TATUAGENS ================= -->

												<div
													class="d-flex justify-content-between align-items-center">
													<h6 class="fw-bold text-primary">Tatuagens</h6>
													<button type="button"
														class="btn btn-sm btn-outline-primary"
														onclick="addTatuagem()">+ Adicionar</button>
												</div>

												<div id="tatuagens">
													<!-- ================= CICATRIZES ================= -->



												</div>


											</div>
											<div class="col-md-4">

												<div
													class="d-flex justify-content-between align-items-center">
													<h6 class="fw-bold text-primary">Cicatrizes</h6>
													<button type="button"
														class="btn btn-sm btn-outline-primary"
														onclick="addCicatriz()">+ Adicionar</button>
												</div>

												<div id="cicatrizes"></div>

											</div>


										</div>

									</div>
									<!-- fim coluna form -->


								</div>

							</div>
							<div
								class="card-footer d-flex justify-content-between align-items-center">
								<button type="submit" class="btn btn-outline-primary">
									<i class="fa-duotone fa-solid fa-floppy-disk"></i> SALVAR
								</button>

							</div>

						</div>
					</form>
				</div>
				<!-- FIM DO CARD -->

			</div>

		</div>

	</div>



</body>
</html>