# Environment variables
.env
.application.properties
*.properties.local
application-local.properties

# IDE
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.metadata
/bin/
/target/
/build/

# OS
.DS_Store
Thumbs.db
/.metadata/
