<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Home</title>
</head>

<body>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="margin-top: -15px;">
            <div class="col-12">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a th:href="@{/home}">
                            <i class="fa-duotone fa-solid fa-house fs-6"></i> Home
                        </a></li>
                    
                    </ol>
                </nav>
            </div>
            
            
            <div class="col-12" style="margin-top: -15px;">
                <div class="card ">
                    <div
                            class="card-header card-header-clinisys d-flex justify-content-between align-items-center fs-6 fw-semibold ">
                        
                        <h5 class="mb-0">Dashboard</h5>
                    <!--    <a th:href="@{/home}" class="btn btn-outline-sistema "
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="Baixar relatório"><i
                                class="fa-duotone fa-solid fa-print me-1"></i> Gerar Relatório </a> -->
                        <button class="btn btn-outline-sistema"
                                data-bs-toggle="modal"
                                data-bs-target="#modalRelatorio">
                            <i class="fa-duotone fa-solid fa-file-lines me-1"></i>Relatório
                        </button>
                    
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div
                                                        class="text-xs font-weight-bold text-primary  text-uppercase mb-1">
                                                    Adolescentes Cadastrados <small th:text="${nomeUnidade}"></small>
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                     th:text="${totalAdolescentes}">0</div>
                                            </div>
                                            <div class="col-auto">
                                                <i
                                                        class="fa-duotone fa-solid fa-user-lock fa-2x text-gray-500"></i>
                                            
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1 ">
                                                    Total de Adolescentes <small>Todas as unidades</small>
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                     th:text="${totalGeral}">$0</div>
                                            </div>
                                            <div class="col-auto">
                                                <i
                                                        class="fa-duotone fa-solid fa-handcuffs fa-2x text-gray-500"></i>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div
                                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                    Internados na Unidade <small th:text="${nomeUnidade}"></small>
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                     th:text="${internadosUnidade}">0</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa-duotone fa-solid fa-bed fa-2x text-gray-500"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div
                                                        class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    Internados (Geral)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                     th:text="${internadosGeral}">0</div>
                                            </div>
                                            <div class="col-auto">
                                                <i
                                                        class="fa-duotone fa-solid fa-hospital-user fa-2x text-gray-500"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        
                        
                        </div>
                        <div class="row">
                            
                            <!-- GRAFICO LINHA -->
                            <div class="col-xl-8 col-lg-7 d-flex">
                                <div class="card shadow mb-4 w-100">
                                    
                                    <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="min-height: 60px;">
                                        <form method="get" th:action="@{/home}">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="m-0 font-weight-bold text-primary mb-0">
                                                    Internações no Ano</h6>
                                                
                                                <select name="ano"
                                                        class="form-select form-select-sm w-auto"
                                                        onchange="this.form.submit()">
                                                    
                                                    <option
                                                            th:each="y : ${#numbers.sequence(2020, #dates.year(#dates.createNow()))}"
                                                            th:value="${y}" th:text="${y}"
                                                            th:selected="${y == anoSelecionado}"></option>
                                                
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    <div class="card-body d-flex flex-column">
                                        
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <button class="nav-link active" data-bs-toggle="tab"
                                                        href="#cse-norte">
                                                    <span th:text="${nomeUnidade}"></span>
                                                </button>
                                            </li>
                                            
                                            <li class="nav-item">
                                                <button class="nav-link" data-bs-toggle="tab" href="#geral">
                                                    Todas</button>
                                            </li>
                                        </ul>
                                        
                                        <div class="tab-content flex-grow-1">
                                            
                                            <div class="tab-pane fade show active h-100" id="cse-norte">
                                                <small class="text-primary"> Internações nesta
                                                    Unidade </small>
                                                
                                                <div id="graficoInternacoesUnidade"
                                                     th:attr="data-valores=${internacoesJson}"
                                                     style="display: none;"></div>
                                                
                                                <div class="chart-area h-100" style="height: 320px;">
                                                    <canvas id="chartUnidade"></canvas>
                                                </div>
                                            </div>
                                            
                                            <div class="tab-pane fade h-100" id="geral">
                                                <small class="text-danger"> Internações em todas as
                                                    Unidades </small>
                                                
                                                <div id="graficoInternacoesGeral"
                                                     th:attr="data-valores=${internacoesGeralJson}"
                                                     style="display: none;"></div>
                                                
                                                <div class="chart-area h-100" style="height: 320px;">
                                                    <canvas id="chartGeral"></canvas>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <!-- GRAFICO PIZZA -->
                            <div class="col-xl-4 col-lg-5 d-flex">
                                <div class="card shadow mb-4 w-100">
                                    
                                    <div class="card-header py-3" style="min-height: 65px;">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                            Internações por Unidade</h6>
                                    </div>
                                    
                                    <div
                                            class="card-body d-flex flex-column justify-content-center">
                                        
                                        <div id="graficoPizza"
                                             th:attr="data-valores=${internacoesPorUnidadeJson}"
                                             style="display: none;"></div>
                                        
                                        <div class="chart-pie" style="height: 320px;">
                                            <canvas id="chartPizza"></canvas>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <!-- fim row dos graficos -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 d-flex">
                                <!-- Project Card Example -->
                                <div class="card shadow mb-4 w-100">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Internações por Faixa Etária</h6>
                                    </div>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs mb-2">
                                            <li class="nav-item">
                                                <button class="nav-link active" data-bs-toggle="tab"
                                                        href="#cse-norte-fx-etaria">
                                                    <span th:text="${nomeUnidade}"></span>
                                                </button>
                                            </li>

                                            <li class="nav-item">
                                                <button class="nav-link" data-bs-toggle="tab" href="#geral-fx-etaria">
                                                    Todas</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content flex-grow-1">
                                            <div class="tab-pane fade show active h-100" id="cse-norte-fx-etaria">
                                                <div th:each="item, iterStat : ${idadeUnidade}">

                                                    <h4 class="small font-weight-bold">
                                                        <span th:text="${item.key}"></span>
                                                        <span class="float-right" th:text="${item.value}"></span>
                                                    </h4>

                                                    <div class="progress mb-4">

                                                        <div class="progress-bar"
                                                             th:class="${coresUnidade[iterStat.index]}"
                                                             th:style="'width:' + ${item.value} + '%'"
                                                             th:attr="aria-valuenow=${item.value}, aria-valuemin=0, aria-valuemax=100">
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="tab-pane fade h-100" id="geral-fx-etaria">
                                                <div th:each="item, iterStat : ${idadeGeral}">

                                                    <h4 class="small font-weight-bold">
                                                        <span th:text="${item.key}"></span>
                                                        <span class="float-right" th:text="${item.value}"></span>
                                                    </h4>

                                                    <div class="progress mb-4">

                                                        <div class="progress-bar"
                                                             th:class="${coresGeral[iterStat.index]}"
                                                             role="progressbar"
                                                             th:style="'width:' + ${item.value} + '%'"
                                                             th:attr="aria-valuenow=${item.value}, aria-valuemin=0, aria-valuemax=100">
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!--Segunda col -->
                            <div class="col-xl-6 col-lg-6 d-flex">
                                <div class="card shadow mb-4 w-100">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Internações por Cidade</h6>
                                    </div>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs mb-2">
                                            <li class="nav-item">
                                                <button class="nav-link active" data-bs-toggle="tab"
                                                        href="#cse-norte-cidade">
                                                    <span th:text="${nomeUnidade}"></span>
                                                </button>
                                            </li>

                                            <li class="nav-item">
                                                <button class="nav-link" data-bs-toggle="tab" href="#geral-cidade">
                                                    Todas</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content flex-grow-1">
                                            <div class="tab-pane fade show active h-100" id="cse-norte-cidade">
                                                <div id="graficoCidadeUnidade"
                                                     th:data-valores="${cidadeUnidadeJson}"
                                                     style="display:none;"></div>

                                                <div style="height:300px;">
                                                    <canvas id="chartCidadeUnidade"></canvas>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade h-100" id="geral-cidade">
                                                <div id="graficoCidadeGeral"
                                                     th:data-valores="${cidadeGeralJson}"
                                                     style="display:none;"></div>

                                                <div style="height:300px;">
                                                    <canvas id="chartCidadeGeral"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><!--fim segunda col -->
                        </div>
                    
                    
                    
                    </div>
                
                </div>
                <!-- fim do card principal -->
            </div>
            <!-- fim da terceira col -->
        
        </div>
        <!-- fim da row dentro do container -->
    
    
    
    </div>
    <!-- fim do container-fluid -->
    <!--modal -->
    <div class="modal fade" id="modalRelatorio" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form method="get" th:action="@{/home/relatorios/dashboard}">
                    <div class="modal-header">
                        <h5 class="modal-title">Gerar Relatório da Dashboard</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <!-- TIPO DE PERÍODO -->
                        <div class="mb-3">
                            <label class="form-label fw-bold">Período</label>

                            <select id="tipoPeriodo" name="tipoPeriodo" class="form-control">
                                <option value="ANO_CORRENTE">Ano Corrente</option>
                                <option value="ANO_ESPECIFICO">Ano Específico</option>
                                <option value="INTERVALO">Ano X até Ano Y</option>
                            </select>
                        </div>

                        <!-- ANO -->
                        <div class="row">
                            <div class="col-md-6 mb-3" id="divAno">
                                <label>Ano</label>
                                <input type="number" name="ano" class="form-control">
                            </div>

                            <div class="col-md-6 mb-3 d-none" id="divAnoInicio">
                                <label>Ano Inicial</label>
                                <input type="number" name="anoInicio" class="form-control">
                            </div>

                            <div class="col-md-6 mb-3 d-none" id="divAnoFim">
                                <label>Ano Final</label>
                                <input type="number" name="anoFim" class="form-control">
                            </div>
                        </div>

                        <!-- CIDADE -->
                        <div class="mb-3">
                            <label>Cidade</label>
                            <select name="cidade" class="form-control">
                                <option value="">Todas</option>
                                <option th:each="cidade : ${listaCidades}"
                                        th:value="${cidade}"
                                        th:text="${cidade}">
                                </option>
                            </select>
                        </div>

                        <!-- VISUALIZAÇÃO -->
                        <div class="mb-3">
                            <label>Mostrar Dados</label>
                            <select name="modoVisualizacao" class="form-control">
                                <option value="UNIDADE">Somente minha unidade</option>
                                <option value="TODAS">Somente todas as unidades</option>
                                <option value="AMBAS" selected>Todas</option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-primary">
                            <i class="fa-duotone fa-solid fa-gear"></i>  Gerar Relatório
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- fim do content do fragmento -->

</body>
</html>